#subTop {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.imgStyle {
  width: 55vw;
  /* 사진 크기 조정 */
}

.cardBox {
  width: 100%;
  overflow: hidden; /* 나보다 큰놈 안보이는 기능 */
}

body {
  background: linear-gradient(to bottom, rgb(255, 243, 216), rgb(255, 255, 255));
}

#back {
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
}

#cardReview h1 {
  position: absolute;
  top: 400px;
  left: 50px;

  color: whitesmoke;
  text-shadow: gray 5px 2px 3px;
}

#poster {
  position: absolute;
  width: 200px;
}

span {
  display: block;
}

.grdHz {
  display: grid;
  grid-template-columns: 0.7fr auto;
}

.grdHz div {
  margin-left: 30px;
  margin-top: 30px;
}

#cardVideos {
  margin: 40px;
}

#reply {
  margin: 30px auto 30px auto;
  max-width: 1000px;
  min-width: 300px;
}

.comment {
  margin: 30px auto 30px auto;
}

.input-group-text {
  width: 210px;
}

#weatherId {
  width: 2vw;
}