@font-face {
  font-family: 'SOGANGUNIVERSITYTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: 'SOGANGUNIVERSITYTTF', cursive;
}

p {
  font-family: 'SUITE-Regular', cursive;;
}

#gom {
  background-image: url("Firefly-gom11481.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
}

.mvCount {
  display: grid;
  grid-template-columns: 50px 20fr;
  padding-bottom: 20px;
  background-color: rgb(255, 243, 216);
}

body {
  background: linear-gradient(to bottom, rgb(255, 243, 216), rgb(255, 255, 255));
}

.flex-box-parent {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.movie-card {
  justify-self: center;
  cursor: pointer;
  user-select: none;
  margin: 10% 10%;
  padding: 20px 32px 20px 32px;
  width: 250px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
}

#mainTop {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

label {
  margin: 10px;
  font-size: 25px;
}

button {
  margin: 3px;
  height: 36px;
  border: 1px solid black;
}
