body {
    height: 200vh;  /* 맨위로 보여주기위해 했어요 */
    
}
.backLink {
    position: fixed;
    cursor: pointer;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}